<!DOCTYPE html>

<center><B>免責事項</B></center>

<p>
 <ul>
  <div style="padding-left:100px">
   <p><li>・	当ウェブサイトに掲載された情報を利用された結果、生ずる損害について、一切の責任を負いかねます。</li></p>

   <p><li>・	当ウェブサイトの掲載内容は所属する団体の意見を代表するものではありません。</li></p>
  </div>
 </ul>
</p>

 <div style="margin:0 120px;">
   <p>
    <div align="right">
      <a href="/">トップページに戻る</a>
    </div>
   </p>
 </div>
