
<div ng-controller="MainController as vm" ng-cloak>
  <div class="row">
    <div class="suggestion col-md-12">
      <p class="lead">あなたのチーム名は</p>
      <a href="/statuses?keyword={{vm.keyword}}"  class="confirm" data-method="post">
        <div id="highest_suggestion" ng-bind="vm.keyword"></div></a>
      <p class="lead">です。</p>
    </div>
    <script>
    $('.confirm').click(function() {
    if (!confirm('このチーム名を使用しますか？')) {
    return false;
    }
    });
    </script>
    <h1>Listing Prefectures</h1>
    <form action=""method="post">
      <p>出身地はどこですか？</p>
      <p>
      <select>
      <% @prefectures.each do | prefecture | %>
      <option value="<%= prefecture.id %>"><%= prefecture.prefecture %></option>
      <% end %>
      </select>
      </p>
    </form>
    <div class="list col-md-12">
      <ul id="list" class="list-unstyled" ng-repeat="element in vm.list | orderBy:'$index':true track by $index">
        <li>{{element}}</li>
      </ul>
    </div>
  </div>
</div>
