<div ng-controller="NamesController as vm">
  <div class="question col-md-8 col-md-offset-2">
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>名前</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="name in vm.names track by $index">
          <td>{{$index}}</td>
          <td><input type="text" name="names[{{$index}}]" ng-model="vm.names[$index]" /></td>
          <td><input type="button" ng-click="vm.add()" value="+" /></td>
        </tr>
      </tbody>
    </table>
    <input type="button" name="submit" ng-click="vm.push()" value="submit" />
    <!-- <div ng-include="'partials/shared/menu.html'"></div> -->
    <!-- <p><a ng-href="#/">戻る</a></p> -->
  </div>
</div>
