<div ng-controller="PlaceController as vm" class="place_controller">
  <img src="/images/left.gif" />
  チームを結成した場所は？
  <img src="/images/right.gif" />
<!--
    <p ng-cloak>
      <select ng-model="vm.prefecture_id" ng-change="vm.select()">
      <option value="{{pref.id}}" ng-repeat="pref in vm.prefectures" ng-bind="pref.prefecture"></option>
      </select>
    </p>
 -->
  <div class="place_wrapper">
    <input type = "text" id="city_name" value="" />
    <button id="search" >チーム名を作成する</button>
    <div id="map"></div>
  </div>
    <!-- <div ng-include="'partials/shared/menu.html'"></div> -->
    <!-- <p><a ng-href="#/">戻る</a></p> -->
</div>
