@import "bootstrap-sprockets";
@import "bootstrap";

header{
  height: 150px;
  background-image: image-url("header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  h1{
    a{
      color: #fff;
    }
  }
}

h2{
  text-align: center;
}

ul {
  li {
    list-style: none;
  }
}

footer{
  font-size: 150%;
  height: 150px;
  background-image: image-url("footer.jpg");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

ul.menu {
  margin: 10px;
  li {
    padding: 5px;
  }
}

.blue_line {
  height: 50px;
  background-image: image-url("blue.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.red_line {
  height: 50px;
  background-image: image-url("red.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.suggestion{
  text-align: center;
}

/* sticky */

.sticky_wrapper {
  margin: 0 auto;
  width: 450px;
}

.sticky {
  width:450px;
  height:150px;
  background-color:#e0fefe;
  position: relative;
  display: table-cell;
	vertical-align: middle;
	text-align: center;
    &:after {
    width:440px;
    height:140px;
    content: "";
    position: absolute;
    top: 0px;
    right: 3px;
    -webkit-box-shadow: 0 5px 5px #555 ;
    -moz-box-shadow: 0 5px 5px #555 ;
    box-shadow: 0 5px 5px #555 ;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
    z-index: -1;
  }
}

.name{
  font-size: 300%;
  color: #000;
   a {
     text-decoration: none;
     &:hover {
       text-decoration: none;
     }
   }
}

/* sticky end */

.list{
  padding: 200px, 0, 0, 0;
}

.question{
  padding: 20px;
/*
  height: 200px;
 */
}

/* 画像 */
.click{
    background: #bdbfbf;
    /*
    width: 100px;
    height: 100px;
    */
    line-height: 100px;
    color: #fff;
    margin: auto;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.click:active{
    -webkit-box-shadow:
    0 0 0 15px #fff,
    0 0 0 18px #44c784;
    -moz-box-shadow:
    0 0 0 15px #fff,
    0 0 0 18px #44c784;
    box-shadow:
    0 0 0 15px #fff,
    0 0 0 18px #44c784;
}
#image{
  max-width: 200px;
  height: auto;
  // -webkit-filter: brightness(0.2);
  // -moz-filter: brightness(0.2);
  // -o-filter: brightness(0.2);
  // -ms-filter: brightness(0.2);
  // filter: brightness(0.2);
}
#image:hover{
  opacity: 0.8;
  cursor:pointer;
}
/* 画像 */

html.feature-toggle-disabled {
  .feature-toggle {
    display: none;
  }
}

.social_buttons {
  overflow: hidden;
}
.social_buttons li {
  // display:inline-block;
  float: left;
  margin-right: 8px;
}
.social_buttons iframe {
  margin: 0 !important;
}


/* place */
#map {
  width: 85vw;
  height: 40vh;
}