@import "bootstrap-sprockets";
@import "bootstrap";

$label_categorize_width: 20px;
$magenta: #fee0fe;
$green: #43B2AA;
$yellow: #fefeaa;
$purple: #7D80CF;
$blue: #e0fefe;

@mixin label($color: #666) {
  //border-right: $label_categorize_width solid $color;
  background-color: $color;
  // &:after {
  //   right: -17px;
  //   -webkit-transform: rotate(2.5deg);
  //   -moz-transform: rotate(2.5deg);
  //   -o-transform: rotate(2.5deg);
  //   -ms-transform: rotate(2.5deg);
  //   transform: rotate(2.5deg);
  // }
}

@mixin question($color) {
  p.question {
    color: $color;
    margin: 0px;
    padding: 5px;
  }
}

header{
  height: 50px;
  margin-top:10px;
  .logo{
    text-align: left;
  }
  .icon{
    text-align: right;
  }
}

footer{
  font-size: 120%;
  height: 100px;
  text-align: center;
}

h2{
  text-align: center;
}

ul {
  li {
    list-style: none;
  }
}

ul.menu {
  margin: 10px;
  li {
    padding: 5px;
  }
}

.black_line {
  height: 10px;
  background-image: image-url("black.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size:100% 100%;
}

.blue_line {
  height: 10px;
  background-image: image-url("blue.gif");
  background-repeat: no-repeat;
  background-position: center;
}

.red_line {
  height: 10px;
  background-image: image-url("red.gif");
  background-repeat: no-repeat;
  background-position: center;
}

.suggestion{
  text-align: center;
}

.notice_wrapper{
  text-align: center;
}

.question{
  padding: 20px;
}

html.feature-toggle-disabled {
  .feature-toggle {
    display: none;
  }
}

/* sticky */
.sticky_margin {
  margin-top: 20px;
  margin-bottom: 20px;
}

.sticky_wrapper {
  margin: 0 auto;
  width: 450px;
  div.places {
    @include label($yellow)
  }
  div.names {
    @include label($blue)
  }
  div.interests {
    @include label($magenta)
  }
  span.origin {
    display: block;
    margin: 0px;
    text-align: right;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 1.3rem;
    img {
      width: 15%;
      height: 15%;
    }
  }
}

.sticky {
  width:450px;
  height:150px;
  background-color:#efefef;
  position: relative;
  display: table-cell;
	vertical-align: middle;
	text-align: center;
    &:after {
    width:350px;
    height:140px;
    content: "";
    position: absolute;
    top: 0px;
    right: 3px;
    -webkit-box-shadow: 0 10px 10px #555 ;
    -moz-box-shadow: 0 10px 10px #555 ;
    box-shadow: 0 10px 10px #555 ;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
    z-index: -1;
  }
}

.new_sticky{
  // background-color:#e0fefe;
}

.name{
  font-size: 250%;
  color: #000;
   a {
     text-decoration: none;
     &:hover {
       text-decoration: none;
     }
   }
}

.sticky_description{
  font-size: 150%;
  text-align: center;
  margin-top: 10px;
}

/* result */
.result {
  height:600px;
  background-image: image-url("result.gif");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
	vertical-align: middle;
}

.result_text{
  padding-top: 250px;
  font-size: 300%;
}

.result_ui {
  text-align: center;
  font-size: 150%;
}

.social_buttons {
  overflow: hidden;
  display: flex;
  justify-content: center
}

.social_buttons li {
  // display:inline-block;
  float: left;
  margin-right: 8px;
}

.social_buttons iframe {
  margin: 0 !important;
}

/* interests */
.interests_controller{
  font-size: 150%;
  text-align: center;
  @include question(darken($magenta, 37%))
}

.interests_wrapper{
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

.interests_image{
  width: 300px;
  height: 300px;
  background: url('https://www.pakutaso.com/assets_c/2015/09/SAWA_hanbagu-thumb-1000xauto-19147.jpg');
  background-size: cover;
  overflow: hidden;
  border-radius: 50%;
  float: left;
  cursor:pointer;
  &:hover {
    opacity: 0.6;
    filter: alpha(opacity=60);
    -ms-filter: "alpha(opacity=60)";
  }
}

.click{
}

.click:active{
}

#image{
}

#image:hover{
}

/* place */
.place_controller{
  font-size: 150%;
  text-align: center;
  #map{
    width: 600px;
    height: 250px;
    margin-top: 10px;
  }
  @include question(darken($yellow, 37%))
}

.place_wrapper{
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

/* names */
.names_controller{
  font-size: 150%;
  text-align: center;
  @include question(darken($blue, 37%))
}

.names_wrapper{
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

/* modal-window */
#lean_overlay  {
	position: fixed; z-index:100;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: #696969;
	display: none;
}

#modal-window {
	background-color: #ffffff;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
	display: none;
	padding: 30px;
	width: 800px;
	height: 480px;
}

/* move-page-top */
.page-top
{
  margin: 0;
  padding: 0;
  display: none;
}

.page-top p
{
  margin: 0;
  padding: 0;

  position: fixed;
  right: 16px;
  bottom: 16px;
}

.move-page-top
{
  display: block;
  background: #343434;
  width: 50px;
  height: 50px;

  color: #fff;
  line-height: 50px;
  text-decoration: none;
  text-align: center;
}

.move-page-top:hover
{
  opacity: 0.75;
  color: #fff;
  cursor: pointer;
}
