@import "bootstrap-sprockets";
@import "bootstrap";

header{
  height: 150px;
  background-image: image-url("header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  text-align: right;
  h1{
    a{
      color: #fff;
    }
  }
}

h2{
  text-align: center;
}

ul {
  li {
    list-style: none;
  }
}

footer{
  font-size: 120%;
  height: 150px;
  background-image: image-url("footer.jpg");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

ul.menu {
  margin: 10px;
  li {
    padding: 5px;
  }
}

.blue_line {
  height: 50px;
  background-image: image-url("blue.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.red_line {
  height: 50px;
  background-image: image-url("red.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.suggestion{
  text-align: center;
}

.notice_wrapper{
  text-align: center;
}

/* sticky */

.sticky_wrapper {
  margin: 0 auto;
  width: 450px;
}

.sticky {
  width:450px;
  height:150px;
  background-color:#e0fefe;
  position: relative;
  display: table-cell;
	vertical-align: middle;
	text-align: center;
    &:after {
    width:350px;
    height:140px;
    content: "";
    position: absolute;
    top: 0px;
    right: 3px;
    -webkit-box-shadow: 0 10px 10px #555 ;
    -moz-box-shadow: 0 10px 10px #555 ;
    box-shadow: 0 10px 10px #555 ;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
    z-index: -1;
  }
}

.name{
  font-size: 300%;
  color: #000;
   a {
     text-decoration: none;
     &:hover {
       text-decoration: none;
     }
   }
}

/* sticky end */

.sticky_description{
  font-size: 150%;
  text-align: center;
  margin-top: 10px;
}

.result {
  height:633px;
  background-image: image-url("result.jpg");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
	vertical-align: middle;
}

.result_text{
  padding-top: 250px;
  font-size: 300%;
}

.result_ui {
  text-align: center;
  a {
    font-size: 200%;
    color: #000;
    &:hover {
    }
  }
}

/* sticky end */

.list{
  padding: 200px, 0, 0, 0;
}

.question{
  padding: 20px;
}

html.feature-toggle-disabled {
  .feature-toggle {
    display: none;
  }
}

/* 画像 */
.interests_controller{
  font-size: 300%;
  text-align: center;
  height: 400px;
}

.interests_wrapper{
//border: thick #ff0000 solid;
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

.interests_image{
  width: 300px;
  height: 300px;
  background: url('https://www.pakutaso.com/assets_c/2015/09/SAWA_hanbagu-thumb-1000xauto-19147.jpg');
  background-size: cover;
  overflow: hidden;
  border-radius: 50%;
  float: left;
  cursor:pointer;
  &:hover {
    opacity: 0.6;
    filter: alpha(opacity=60);
    -ms-filter: "alpha(opacity=60)";
  }
}

.click{
}

.click:active{
}

#image{
}

#image:hover{
}
/* 画像 */

.social_buttons {
  overflow: hidden;
  display: flex;
  justify-content: center
}
.social_buttons li {
  // display:inline-block;
  float: left;
  margin-right: 8px;
}
.social_buttons iframe {
  margin: 0 !important;
}


/* place */
#map {
  width: 85vw;
  max-width: 700px;
  height: 40vh;
}