<div ng-controller="MainController as vm" ng-cloak>
  <div class="question_slider">
    <div><div ng-include="'partials/place.html'"></div></div>
    <div><div ng-include="'partials/interests.html'"></div></div>
    <div><div ng-include="'partials/names.html'"></div></div>
  </div>
  <div class="row">
    <div class="suggestion col-md-12">
      <div class="black_line"></div>
      <div class="sticky_margin">
        <div class="sticky_wrapper">
          <a href="/statuses?keyword={{vm.keyword.word}}" data-method="post">
            <div class="sticky new_sticky {{vm.keyword.className}}">
                  <span id="highest_suggestion" ng-bind="vm.keyword.word" class="name"></span>
                  <span id="highest_suggestion_uniqueness" ng-bind="vm.uniqueness"></span>
                  <span class="origin">
                    <span ng-if="vm.keyword.origin != null">元となった解答 : "</span>
                    <img ng-if="vm.keyword.className == 'interests'" ng-src="{{vm.keyword.origin}}" />
                    <span ng-if="vm.keyword.className != 'interests'" ng-bind="vm.keyword.origin"></span>
                    <span ng-if="vm.keyword.origin != null">"</span>
                  </span>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="list col-md-12">
      <ul id="list" class="list-unstyled" ng-repeat="element in vm.list | orderBy:'$index':true track by $index">
        <li>
          <div class="sticky_margin">
            <div class="sticky_wrapper">
              <a href="/statuses?keyword={{element.word}}" data-method="post">
                <div class="sticky {{element.className}}">
                  <span class="name" ng-bind="element.word"></span>
                  <span class="origin">
                    <span ng-if="element.origin != null">元となった解答 : "</span>
                    <img ng-if="element.className == 'interests'" ng-src="{{element.origin}}" />
                    <span ng-if="element.className != 'interests'" ng-bind="element.origin"></span>
                    <span ng-if="element.origin != null">"</span>
                  </span>
                </div>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
