<div ng-controller="MainController as vm" ng-cloak>
  <div class="row">
    <div class="suggestion col-md-12">
      <p class="sticky_description">「いいね～む」はチーム名ブレインストーミングツールです</br>
      どんどんアイデアを出しちゃうよ！</p>
      <div class="sticky_wrapper">
        <a href="/statuses?keyword={{vm.keyword}}" data-method="post">
          <div class="sticky">
                <span id="highest_suggestion" ng-bind="vm.keyword" class="name"></span>
                <span id="highest_suggestion_uniqueness" ng-bind="vm.uniqueness"></span>
          </div>
        </a>
      </div>
      <p class="sticky_description">付箋をクリックすると、使用するチーム名を決定します</p>
    </div>
    <div>
      <div class="col-md-12">
        <div class="red_line"></div>
         <div ng-view></div>
      </div>
    </div>
    <div class="list col-md-12">
      <div class="blue_line"></div>
      <h2>これまでに出たチーム名のアイデア</h2>
      <ul id="list" class="list-unstyled" ng-repeat="element in vm.list | orderBy:'$index':true track by $index">
        <li>
          <div class="sticky_wrapper">
            <a href="/statuses?keyword={{element}}" data-method="post">
              <div class="sticky">
                <span class="name">
                  {{element}}
                </span>
              </div>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
