<div ng-controller="MainController as vm" ng-cloak>
  <div class="row">
    <div class="suggestion col-md-12">
      <p class="lead">あなたのチーム名は</p>
      <a href="/statuses?keyword={{vm.keyword}}"  class="confirm" data-method="post">
        <span id="highest_suggestion" ng-bind="vm.keyword"></span>
        <span id="highest_suggestion_uniqueness" ng-bind="vm.uniqueness"></span></a>
      <p class="lead">です。</p>
    </div>
    <script>
    $('.confirm').click(function() {
    if (!confirm('このチーム名を使用しますか？')) {
    return false;
    }
    });
    </script>
    <div ng-view></div>
    <div class="list col-md-4 col-md-pull-8">
      <ul id="list" class="list-unstyled" ng-repeat="element in vm.list | orderBy:'$index':true track by $index">
        <li>{{element}}</li>
      </ul>
    </div>
  </div>
</div>
