<div class="question_slider">
  <div><div ng-include="'partials/place.html'"></div></div>
  <div><div ng-include="'partials/interests.html'"></div></div>
  <!-- 名前検索
  <div><div ng-include="'partials/names.html'"></div></div>
  -->
  <!-- ベタ打ち
  <div ng-controller="PlaceController as vm" class="place_controller">
    チームを結成した場所は？
    <div class="place_wrapper">
      <input type = "text" id="city_name" value="" />
      <button id="search" class="btn btn-primary btn-lg">決定</button>
      <div id="map"></div>
    </div>
  </div>
  <div ng-controller="InterestsController as vm" class="interests_controller">
    どちらに興味がありますか？
    <div class="interests_wrapper">
      <div class="interests_image" style="background: url('{{vm.images[0].url}}') no-repeat 50% 50%; background-size:cover;" alt="{{vm.images[0].keyword}}" ng-click="vm.ileft()"></div>
      <div class="interests_image" style="background: url('{{vm.images[1].url}}') no-repeat 50% 50%; background-size:cover;" alt="{{vm.images[1].keyword}}" ng-click="vm.iright()"></div>
    </div>
  </div>
  <div ng-controller="NamesController as vm">
  <table>
    <thead>
      <tr>
       <th>id</th>
       <th>名前</th>
       <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="name in vm.names track by $index">
        <td>{{$index}}</td>
        <td><input type="text" name="names[{{$index}}]" ng-model="vm.names[$index]" /></td>
        <td><input type="button" ng-click="vm.add()" value="+" /></td>
      </tr>
    </tbody>
  </table>
  <input type="button" name="submit" ng-click="vm.push()" value="submit" />
  </div>
  -->
</div>
<div ng-controller="MainController as vm" ng-cloak>
  <div class="row">
    <div class="suggestion col-md-12">
      <div class="black_line"></div>
      <div class="sticky_margin">
        <div class="sticky_wrapper">
          <a href="/statuses?keyword={{vm.keyword}}" data-method="post">
            <div class="sticky new_sticky">
                  <span id="highest_suggestion" ng-bind="vm.keyword" class="name"></span>
                  <span id="highest_suggestion_uniqueness" ng-bind="vm.uniqueness"></span>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="list col-md-12">
      <ul id="list" class="list-unstyled" ng-repeat="element in vm.list | orderBy:'$index':true track by $index">
        <li>
          <div class="sticky_margin">
            <div class="sticky_wrapper">
              <a href="/statuses?keyword={{element}}" data-method="post">
                <div class="sticky">
                  <span class="name">
                    {{element}}
                  </span>
                </div>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
