<p id="notice"><%= notice %></p>

<h1></h1>

<script type="text/javascript">
    $(document).ready(function(){
      $.ajax("/suggestions/any.json").then(function(res) {
        $("h1").text(res.keyword);
      });
    });
</script>

<%# for item in @list.items %>
<%#h (item.keyword) %>
<%# end %>
