<p id="notice"><%= notice %></p>

<h1></h1>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <script type="text/javascript">
      $(document).ready(function(){
        $.ajax("/suggestions/any.json").then(function(res) {
          $("h1").text(res.keyword);
        });
      });
  </script>

  <tbody>
  <!--
    <% @suggestions.each do |suggestion| %>
      <tr>
        <td><%= suggestion.keyword %></td>
      </tr>
    <% end %>
  -->
  </tbody>
</table>
<% for item in @list.items %>
<%h (item.keyword) %>
<% end %>
