<p id="notice"><%= notice %></p>

<div id="highest_suggestion" style="font-size: 1000%;"></div>
<div id ="retry" style="font-size: 300%; border:">リトライ</div>
<div id="list"></div>

<script type="text/javascript">
    $(document).ready(function(){
      $.ajax("/suggestions/any.json").then(function(res) {
        $("#highest_suggestion").text(res.keyword);
      });
      var list = [res.keyword];
    });

    $("#retry").click(function(){
      $.ajax("/suggestions/any.json").then(function(res) {
        $("#highest_suggestion").text(res.keyword);
      });
      //list.push(res.keyword);
    });
</script>

<%# for item in @list.items %>
<%#h (item.keyword) %>
<%# end %>
