<p id="notice"><%= notice %></p>

<p>
  <strong>Keyword:</strong>
  <%= @suggestion.keyword %>
</p>

<%= link_to 'Edit', edit_suggestion_path(@suggestion) %> |
<%= link_to 'Back', suggestions_path %>
