<!DOCTYPE html>
<html>
<head>
  <title>Iiname</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="header clearfix">
      <h3 class="text-muted">いいねーむ</h3>
    </div>
    <%= yield %>
    <footer class="footer">
    <p>&copy; team iine 2015</p>
    </footer>
  </div>
</body>
</html>
