<!DOCTYPE html>
<html>
<head>
  <title>Iiname</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="text-align: center;">
<h1>いいねーむ</h1>
<div style="margin: 0 auto;">
<%= yield %>
</div>
</body>
</html>
